.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: tomato;
  list-style: none;
}

.container a {
  text-decoration: none;
  color: black;
}

.container li {
  text-align: center;
}

.container-item {
  flex: 1 0 21%;
  background: purple;
  padding: 10px;
  width: 20%;
  height: 150px;
  line-height: 100px;
  margin: 20px;
  text-align: center;
}
