.container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(auto-fill, auto);
  padding: 0;
  margin: auto;
  justify-content: center;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.container a {
  text-decoration: none;
  color: #ffe8ff;
}

.container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 150px;
  background: #800080;
  border-radius: 15px;
}

.pageHeading {
  font-size: 45px;
  margin-bottom: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.default-rule {
  width: 50%;
  border: 1px solid #400040;
}
