.container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  padding: 0;
  margin: auto;
  align-items: center;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.container a {
  text-decoration: none;
  color: #ffe8ff;
}

.container li {
  text-align: center;
}

.container-item {
  margin: 10px;
  height: 150px;
  background: #800080;
  text-align: center;
}

.pageHeading {
  font-size: 45px;
  margin-bottom: 0;
}

hr {
  width: 50%;
  border: 1px solid #400040;
}
