body {
  background-color: #ffb3ff;
}

#header {
  background: #400040;
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  color: #ffe8ff;
}

.topbar {
  display: flex;
  list-style: none;
}

.topbar-item {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.center-item {
  font-family: 'Damion', cursive;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffe8ff;
  padding: 5px 30px;
}

.topbar-item a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffe8ff;
  padding: 10px 30px;
}

.topbar-item a:hover {
  background: #ffe8ff;
  color: #400040;
}

#main {
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  color: #400040;
  text-align: center;
}
