body {
  transition: background-color .5s;
}

.topbar {
  background: purple;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
}

.topbar li:nth-of-type(2) {
  text-align: center;
}

.topbar-item {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: 'Damion', cursive;
  font-size: 30px;
}

.topbar-item a {
  text-decoration: none;
  color: white;
}

.sidenav {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #800080;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/*
.transition-scroll {
  transition: 500ms;
  transform: translateY(0);
  opacity: 1;
}

html.is-animating .transition-scroll {
  opacity: 0;
  transform: translateY(-50px);
}
*/
