.story-container {
  width: 80%;
  margin: auto;
  text-align: center;
  background: #ffe8ff;
  color: #400040;
  border-radius: 15px;
}

.story-rule {
  width: 97%;
  border: 1px solid #400040;
}

.story-break {
  width: 100%;
  border: 0.1px dashed #400040;
}

.storytitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.story-content {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  margin: auto 50px auto 50px;
  padding-bottom: 20px;
}
