<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | John Purple</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script type = "text/javascript" src = "/assets/js/sidebar.js"></script>
    <!--<script defer type = "text/javascript" src = "/assets/js/node_modules/swup/dist/swup.min.js"></script>
    <script defer type = "text/javascript" src = "/assets/js/includeSwup.js"></script>-->
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    {% include navigation.html %}
    {{content}}
  </body>
</html>
